.img{
    width: 180px;
    height: 50px;
}
.nav{
    margin: auto;
  width: 50%;
  border: 3px solid;
  padding: 10px;
  background-color: transparent;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: 0;
}