<app-header></app-header>
<div class="row">
  <div class="title">
    <h1>Please try to match your header!</h1>
  </div>
</div>
<br /><br />
<div class="row">
  <div class=" center">
 
    <table class="border">
        <thead *ngFor="let match of getMatching; index as i">
            <tr>{{match.key}}</tr>
        </thead>
    </table>

  </div>
</div>

<div class="options">
    <div>
        <mat-form-field appearance="fill" width="50%">
            <mat-label>Choose Option</mat-label>
            <mat-select>
                <mat-option
                    *ngFor="let key of matchedKeys , index as i"
                    [value]="key">
                    <label style="font-size: 10px; color: rgb(71, 114, 253);">{{key}}
                    </label>
                    <label aria-disabled="true"
                        style="font-size: 10px; color: rgb(118, 3, 212); float : right;">|
                        {{key}}
                        % </label>
                </mat-option>
            </mat-select>
            <!-- <mat-error
                *ngIf="submitted && getNotMatched.controls[i].get('affectedKey')?.errors?.required">
                Option required</mat-error> -->
        </mat-form-field>
    </div>
</div>

  