.title{
    text-align: center;
    text-decoration: black;
    font-size: x-large;
}

.notmatching{
    border: 2px solid rgb(38, 162, 208);
    border-radius: 25px;
    padding: 20px;
}
.matching{
    border: 2px solid rgb(8, 113, 151);
    border-radius: 25px;
    padding: 20px;
}
h2{
    text-decoration: blue;
}




