<app-header></app-header>
<div class="row">
  <div class="title">
    <h1>Please try to match your header!</h1>
  </div>
</div>
<br /><br />
<div class="notmatching container ">
  <form class="row" style="width: 400px; margin-left: 300px;">
    <mat-form-field appearance="fill" *ngFor = 'let key of getMatching , index as i'>
      <mat-label ><h4>{{key.key}}</h4></mat-label>
      <mat-select>
        <mat-option (click)="choice(match,i)"  *ngFor = 'let match of key.matchedKeys , index as j' [value]="match" >
          <h4>{{match[0]}} {{match[1]}}%</h4>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  
</div><br><br>
<div class="container matching"  style="text-align: center;">
  <h2>Your matched headers</h2><br><br>
  <div *ngFor = 'let x of matchedKeys , index as j'>
      <h3>{{x}}</h3>
  </div>
</div><br><br><br>



<button mat-raised-button color="primary" style="margin-left: 600px; margin-bottom: 50px;" (click) = 'change()'>Confirm Match</button>