html{
  overflow-x: hidden;
  }
  *{

      margin:0;
      
      padding:0;
      
      }
      body, html{height:100%;}
      

.txt{
    padding-bottom: 200px;
}


.box.has-advanced-upload {
    background-color: white;
    outline: 2px dashed black;
    outline-offset: -10px;
  }
  .box.has-advanced-upload .box__dragndrop {
    display: inline;
  }



section{
  margin-left: 100px;
}

.box {
  position: relative;
  background: #ffffff;
  width: 100%;
}

/* .box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 10px;
} */

.box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}

.dropzone-wrapper {
  color: #92b0b3;
  position: relative;
  border-radius: 25px;
  border: 2px solid #3b4655;
  padding: 60px;
  height: 200px;
  width: 600px;
  margin-left: 250px;
  
}

.dropzone-desc {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 40%;
  top: 50px;
  font-size: 16px;
}

.dropzone,
.dropzone:focus {
  outline: none !important;
  width: 100%;
  height: 150px;
  cursor: pointer;
  opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
  background: #b6c0d1;
}

.preview-zone {
  text-align: center;
}

.preview-zone .box {
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 0;
}
.control-label{
  text-align: center;
  text-decoration: steelblue;
}
.btn{
  width: 100px;
  height: 40px;
  font-size: medium;
  position: relative;
  left: 500px;
}

.filename{
  border: 2px solid rgb(38, 162, 208);
  border-radius: 25px;
  padding: 20px;
  width: 400px;
  margin-left: 350px;
  text-align: center;
}